/conf/application.conf.local
/conf/data/*
!/conf/data/examples/
/gui/dist/
/gui/package-lock.json
/.idea/
*.iml
/logs/
/moirai-clotho.jar
node_modules/
/project/project/
/project/target/
/schema.graphql
/target/
/test/integration/cypress/plugins/
/test/integration/cypress/videos/
/test/integration/cypress/screenshots/
